{% block content %}
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Import Database</h3>
  </div>
  <div class="card-body">
    <form role="form" method="POST" action="{% url 'goshApp:import_datar' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>Choose Format Type</label><br>           
        <input class="mb-2" type="file" name="importData">
        <select class="custom-select" name="file-format1"> 
          <option selected>Choose format...</option>
          <option>CSV</option>
          <option>JSON</option>
        </select>
      </div> <br><br><br>
      <button type="submit" class="btn btn-info btn-block">Import</button>
    </form>
  </div>
</div>
{% endblock %}